* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    background-color: rgb(8, 8, 97);
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
}

nav a:link,
nav a:visited {
    color: white;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header img {
    width: 100%;
}

.secaocinza {
    background-color: rgb(226, 226, 226);
}

body {
    background-color: black;
}

section {
    width: 1200px;
    margin: auto;
    padding: 50px;
}

section p {
    line-height: 1.5em;
}

section h1,
section h2,
section p {
    margin: 20px 0px;
}

section button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
}

section button:hover {
    background-color: orangered;
    cursor: pointer;
}

.secaobranca {
    background-color: white;
}

.butaopreto {
    background-color: black;
}

.butaoazul {
    background-color: rgb(1, 1, 102);
}

.armario {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}

.caixa {
    width: 100%;
    text-align: center;

}

.uber img {
    width: 80%;
}

.uber p {
    text-align: justify;
    margin: 20px;
}
.secaobranca p {
    text-align: justify;
    line-height: 1.5em;
    margin: 20px 0px;
}

.secaocinza p {
    text-align: justify;
    line-height: 1.5em;
}

.caixa p {
    text-align: justify;
    margin: 20px;
}

.compromisso p {
    text-align: justify;
    margin: 20px 20px;
}

.compromisso img {
    width: 500px;
    margin: 20px 20px;
}

footer {
    margin: 50px;
}

footer p {
    text-align: center;
    color: white;
}